@font-face {
    font-family: 'Arvo';
    src: url("./assets/Arvo/Arvo-Regular.ttf") format ('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoBold';
    src: url("./assets/Arvo/Arvo-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoItalic';
    src: url("./assets/Arvo/Arvo-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArvoBoldItalic';
    src: url("./assets/Arvo/Arvo-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* html {
    --screen-ratio: 16/9;
} */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    /* font: inherit; */
    overflow-wrap: break-word;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: left;
    height: 70%;
    width: 50%;
    /* border: 1px solid red; */
    overflow: auto;
    background-color: whitesmoke;
    margin-bottom: 5%;
}

.inputControls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 50%;
    /* border: 1px solid red; */
}

#submitBtn {
    width: 15%;
    height: 7.5%;
}

.displayCard {
    box-sizing: border-box;
    height: fit-content;
    min-height: 65px;
    max-height: 75px;
    padding: 4px 15px 35px 15px; 
    border: 7px solid rgba(169, 169, 169, 0.068);
    outline: 1px solid rgba(169, 169, 169, 0.644);
    background-color: rgba(211, 211, 211, 0.342);
    /* background-color: rgba(199, 8, 8, 0.534); */
    border-radius: 6px;
    overflow: hidden;
    /* overflow-wrap: break-word; */
    white-space: normal;
    text-overflow: ellipsis;
}

.displayCard p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
    transform: translateX(14px);
    padding-bottom: 2px;
}

/* .displayCard p:nth-child(2) {
    max-width: 100px;
    overflow: hidden;
} */



.displayCard:hover {
    background-color: rgba(211, 211, 211, 0.699);
    cursor: pointer;

}

.taskSpan1 {
    font-family: 'ArvoBoldItalic';
    /* border: 1px solid red; */
}

.descSpan1 {
    font-family: 'ArvoBoldItalic';
    /* border: 1px solid red; */
}



.taskSpan2, .descSpan2 {
    /* position: absolute; */
    font-family: 'ArvoItalic';
    /* border: 1px solid red; */
    text-decoration: underline solid black;
    text-underline-offset: 5px;
    /* transform: translateY(-px); */

}

.content .displayCard>p>span {
    max-width: 300px;
}


#itemDesc {
    min-width: 220px;
}

#itemName {
    min-width: 190px;
}

input::placeholder {
    font-family: 'Consolas', 'Courier', 'Courier New', 'UI Monospace', 'IBM Plex Mono';
}

textarea::placeholder {
    font-family: 'Consolas', 'Courier', 'Courier New', 'UI Monospace', 'IBM Plex Mono';
}


.displayCard.show {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.938);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: left;
    top: 0;
    left: 0;
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
    z-index: 3;


}


.displayCard.show>p {
    /* border: 1px solid blue; */
    width: 820px;
    display: grid;
    grid-template-columns: .135fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: 
    "task1 task2"
    "desc1 desc2";
    top: 0;
    left: 0;
    /* justify-items: center; */
    /* align-content: center; */
    /* justify-content: center;
    align-items: center; */

    /* padding: 25% 30% 30% 30%; */
    white-space: normal;
    overflow: visible;
    overflow-wrap: break-word;

    font-size: larger;
    letter-spacing: .1rem;
    /* color: rgb(255, 0, 0); */
    color: white;

    /* text-shadow: 
    1px 1px 0 #611d1d,  
    -1px -1px 0 #611d1d,  
    1px -1px 0 #611d1d,  
    -1px 1px 0 #611d1d; */
    

    text-shadow: 
    1px 1px 0 #000,  
    -1px -1px 0 #000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000;

    background-color: rgba(199, 8, 8, 0.26);
    outline: 200px solid rgba(199, 8, 8, 0.26);
    font-family: 'Consolas';
}

.displayCard.show>p span {
    /* display: flex; */
    /* border: 1px solid red; */
    white-space: normal;
    max-width: 640px;
    padding-left: 4px;
   
}

/* .taskSpan2div {
    position: absolute;
    max-width: 100%;
    max-height: 1%;
    border: 3px solid purple;
} */

.displayCard.show .taskSpan1 {
    grid-area: task1;
}

.displayCard.show .taskSpan2 {
    grid-area: task2;
    margin-left: -94px;
    white-space: normal;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration: underline solid white;
    text-underline-offset: 5px;
    

}

.displayCard.show .descSpan1 {
    grid-area: desc1;
    /* margin: 0;
    padding: 0;
    border: 10px solid green; */
    
}

.displayCard.show .descSpan2 {
    grid-area: desc2;
    margin-left: 4px;
    width: 680px;
    white-space: normal;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration: underline solid white;
    text-underline-offset: 5px;
}




.displayCard.important {
    background-color: rgba(199, 8, 8, 0.534);
}

.trashCan {
    position: relative;
    height: 17px;
    width: 17px;
    transform: translate(-14px, -10px);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}




/* .displayCard>p>.taskSpan2 {
    max-width: 200px !important;
    overflow: hidden;
    border: 1px solid blue;

} */